<p><%= @game.play_order.first.name %> has attacked <%= @game.play_order.last.name %></p>

<p><%= @game.play_order.last.name %>: <%= @game.play_order.last.hitpoints %> HP</p>

<form action="/change" method="get">
<input type="submit" value="Continue BATTLE!">
</form>
