<p><%= @game.player1.name %> has attacked <%= @game.player2.name %></p>

<p><%= @game.player2.name %>: <%= @game.player2.hitpoints %> HP</p>

<form action="/play" method="get">
<input type="submit" value="Continue BATTLE!">
</form>
